cnab-api/.bundle
/.project
cnab-api/log/*.log
cnab-api/tmp/**/*
cnab-api/public/uploads/*
cnab-api/fig.yml
cnab-api/public/file_storage/
cnab-api/public/javascripts/*
cnab-api/public/storage/*
cnab-api/public/version
cnab-client/node_modules
node_modules
coverage

#VScode
.vscode/

#Swap file vim
.*.swp

# RVM gemset name
.ruby-gemset

.byebug_history

# Ignore IntelliJ’s project specific settings folder
.idea/
./cnab-api/.idea
./cnab-client/.idea
./cnab-api/.vscode/
./cnab-client/.vscode/

# Auto generated ERD file
# vscode
.vscode